body{
    
}


.navbar-nav li{
    padding:15px;
    margin-right: 25px;
}

a:hover {
    background: #858585;
    border-radius: 5px;
    box-shadow: 5px 0px 19px 3px rgba(0,0,0,0.1);}

.collapse ul li h5 a:hover{
    color: white;
    padding: 10px;
}
