body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #333333;
}


.navbar-nav li{
    padding:15px;
    margin-right: 20px;
}

a:hover {
    background: #858585;
    border-radius: 5px;
    box-shadow: 5px 0px 19px 3px rgba(0,0,0,0.1);}

.collapse ul li h5 a:hover{
    color: white;
    padding: 10px;
}


.crd {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .crd:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  }


/* Base button style */
  .nav-pills .nav-link {
    background-color: #f9f9f9 !important; /* light grey for inactive */
    color: #000 !important;
    margin: 0 5px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* Hover effect */
  .nav-pills .nav-link:hover {
    background-color: #e1e1e1 !important; /* slightly darker on hover */
    color: #000000 !important;
  }

  /* Active button style */
  .nav-pills .nav-link.active {
    background-color: #6c757d !important; /* dark grey for active */
    color: #fff !important;
  }

ul{
    list-style-type: none;
    padding: 0;
    margin-right: 35px;
}

.accordion-item{
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease;
}

.project{
    background-color: white;
    margin-top: 500px;
    margin-bottom: 200px;
}

.image-section img{
    margin-top: 40px;
}

@media (max-width: 768px) {
    .image-section img{
        margin-top: 0px;
    }
}

.header{
    font-size: 2.5rem;
    margin-left: 160px;
} 